<%- include header %>
<form method='post' enctype='multipart/form-data'>
      </p>
      <p><input type='file', name=photo></p>
      <p><input type='submit', value='Upload'/></p>
    </form>
<div id="photos">
      <% photos.forEach(function(photo) { %>
        <div class="photo">
          <h2><%=photo.name%></h2>
          <a href='/download/<%=photo.id%>/download'>
            <img src='/photos/download.png'/>
		  <a href='/download/<%=photo.id%>/see'>
            <img src='/photos/preview.png'/>
		  <a href='/download/<%=photo.id%>/remove'>
            <img src='/photos/remove.png'/>
          </a>
        </div>
		</br>
      <% }) %>
    </div>
<%- include footer %>



